<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="fileWithPathExt" value="fileExt.json"/> <!--файл со списком куда складывать файлы-->
		<add key="pathToDirectoryFiles" value="C:\Users\behemoth\Downloads"/>
		<add key="hidden" value="True"/>
		<add key="listFolders" value="Doc,Exe,Img,PDF,Audio,Video,Zip"/>
	</appSettings>
</configuration>